
.App-header {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 30px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contesters{
    display: flex;
    flex-direction: column;
}
.contester {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.contester-score {
    padding-left: 10px;
}

.contester-buttons {
    padding-left: 20px;
}
